{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    
    {% include "pages/header.html.twig" %}
    

    {% if isLog == 'auth' %}
        <p>Connection</p>
    {% endif %}

{% endblock %}